/* =======================================================
COLORS
======================================================= */
$header-color: #fff;
$body-color: #aaa;
$link-color: hsl(180, 100%, 50%);

$profile-bg-color: #222;
$page-bg-color: #004550;
