/* =======================================================
FONTS
======================================================= */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,100&display=swap");
/* =======================================================
COLORS
======================================================= */
/* =======================================================
FONTS
======================================================= */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,100&display=swap");
/* =======================================================
COLORS
======================================================= */
/* =======================================================
LAYOUT
======================================================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-content {
  background-color: #004550;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 1.25rem;
  width: 100vw;
}

.profile-box {
  background-color: #222;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  margin: auto;
  max-width: 375px;
  overflow: hidden;
  z-index: 2;
}

.avatar {
  border: 5px solid white;
  border-radius: 50%;
  display: block;
  height: auto;
  margin: auto;
  position: relative;
  top: -55px;
  width: 110px;
}

.flair-box {
  object-fit: cover;
  height: 145px;
  width: 100%;
}

.profile-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2.25rem;
}

.profile-stats {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 1.5rem;
}

.bg-img-bottom,
.bg-img-top {
  height: 978px;
  width: 978px;
}

.bg-img-top {
  left: -800px;
  position: fixed;
  top: -600px;
}

.bg-img-bottom {
  right: -800px;
  position: fixed;
  bottom: -600px;
}

@media screen and (min-width: 576px) {
  .bg-img-top {
    left: -20%;
    top: -50%;
    z-index: 1;
  }

  .bg-img-bottom {
    right: -20%;
    bottom: -50%;
    z-index: 1;
  }
}
/* =======================================================
TYPOGRAPHY
======================================================= */
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 1.1rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 0.75rem;
}

h3 {
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.5rem 0 1.5rem;
  text-align: center;
}

h5 {
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding-top: 0.35rem;
}

/* Special Typography Classes */
.number {
  text-align: center;
}

.category {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

/* Attribution Stuph */
.attribution {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-align: center;
  z-index: 10;
}

.attribution a {
  color: aqua;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
